<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" id="sideBar">
            <div class="tab-container text-center">
                <ul class="neo-nav clearfix" role="tablist">
                    <li role="presentation" class="active"><a href="#addFieldTab" id="addFieldTab_lnk" aria-controls="home" role="tab" data-toggle="tab">Add a Field</a></li>    
                    <li role="presentation"><a href="#fieldSettingTab" id="fieldSettingTab_lnk" aria-controls="profile" role="tab" data-toggle="tab">Field Settings</a></li>
                </ul>
            </div>


            <div class="tab-content" id="sidebar-tab-content">
                <div role="tabpanel" class="tab-pane active" id="addFieldTab">
                    <div class="" id="stdFields">
                        <ul cdkDropList [cdkDropListData]="dragElements" [cdkDropListConnectedTo]="secondList" #firstList="cdkDropList" class="sortable-stdFields">
                            <li cdkDrag class="dragElement-wrapper" *ngFor="let dragElement of dragElements; let i = index" (cdkDropListDropped)="drop($event)" [attr.data-index]="i">
                                <div class="drag-element">
                                    <fa name="cogs"></fa> {{dragElement.Name}}
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="fieldSettingTab">
                    <!-- <div *ngFor="let Setting in current_field.Settings" [ngSwitch]="Setting.Type">
                        <div>
                            <div class="form-group " *ngSwitchCase="'text'">
                                <label for="{{Setting.Name.replace(' ','_')}}">{{Setting.Name}}</label>
                                <input type="text" class="form-control" id="{{Setting.Name.replace(' ','_')}}" value="{{Setting.Value}}" placeholder="{{Setting.Name}}">
                            </div>    
    
                            <div class="form-group" *ngSwitchCase="'string'">
                                <label >{{Setting.Name}}</label>
                                <br>
                                <span >{{Setting.Value}}</span>
                            </div>    
    
                            <div class="form-group" *ngSwitchCase="'label'">
                                    <label class="pale">{{Setting.Name}}</label>
                            </div>
    
                            <div class="form-group" *ngSwitchCase="'dropdown'" >
                                <label >{{Setting.Name}}</label>
                                <select (change)="filterForeCasts($event.target.value)">
                                    <option value="0">--All--</option>
                                    <option *ngFor="let possvalue of Setting.PossibleValue" value={{possvalue.Value}}>
                                        {{possvalue.Name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-md-9 text-center" id="main-content">
            <ul class="neo-nav" role="tablist">
                <li role="presentation" class="active"><a href="#addFieldTab" aria-controls="home" role="tab" data-toggle="tab">Form Builder</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active text-left" id="formBuilderContent">
                    <p>
                        <i class="fa fa-pencil fa-lg"></i>
                        <span class="lead">Employee</span>
                    </p>
                    <div class="container-fluid" id="dropZone">
                        <ul class="row sortable-formbuilder" cdkDropList [cdkDropListData]="formFields" [cdkDropListConnectedTo]="firstList" #secondList="cdkDropList" (cdkDropListDropped)="drop($event)"  
                            id="sortable-formbuilder-ul">
                            <li *ngFor="let formField of formFields; let i = index;" class="p-2 pop col-md-6 sortable-field" cdkDrag [ngSwitch]="formField.Type"
                                (click)="activeField(formField)">
                                <div class="form-group" *ngSwitchCase="'text'" [ngClass]="{ 'active-field': formField.Active }" >
                                    <label for="{{formField.Name.replace(' ','_')}}">{{formField.Name}}</label>
                                    <input type="text" class="form-control" id="{{formField.Name.replace(' ','_')}}" value="{{formField.Value}}" placeholder="{{formField.Name}}">
                                    <i class ="fa fa-lg fa-minus-square-o remove-ico" (click)="removeElement(i)" *ngIf="formField.Active"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>
