<footer class="page-footer font-small blue-grey lighten-5">
    <div>
        <div class="container">
            <div class="row py-4 d-flex align-items-center dark-grey-text">
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">Follow us</h6>
                </div>
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <a class="fb-ic">
                        <mdb-icon fab icon="facebook" class="mr-4"></mdb-icon>
                    </a>
                    <a class="tw-ic">
                        <mdb-icon fab icon="twitter" class="mr-4"></mdb-icon>
                    </a>
                    <a class="ins-ic">
                        <mdb-icon fab icon="instagram" class="mr-4"></mdb-icon>
                    </a>
                    <a class="li-ic">
                        <mdb-icon fab icon="linkedin" class="mr-4"></mdb-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container text-center text-md-left mt-5">
        <div class="row mt-3 dark-grey-text">
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold">Clarivate</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">                   
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">TERMS OF USE</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">                
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">    
                <h6 class="text-uppercase font-weight-bold">PRIVACY POLICY</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center text-black-50 py-3">©2019
        <a class="dark-grey-text" href="https://clarivate.com/"> CLARIVATE ANALYTICS</a>
    </div>
</footer>