.navbar-brand {
    width: 105px;
    background: url(../../../assets/formbuilder-logo.png) left center no-repeat;
    border: 0;
    text-indent: -99999px;
}

.navbar-bg-custom {
    background-color: #505050;
}