<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-4">
            <h5>Users <span class="badge badge-primary">5</span></h5>
        </div>
    </div>

    <div class="row align-items-center mt-3">
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-primary active" aria-pressed="true"><i class="fa fa-plus-square-o"></i>&nbsp;Add</button>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-primary active" aria-pressed="true"><i class="fa fa-upload"></i>&nbsp;Import</button>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-secondary active" aria-pressed="true"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
        </div>   
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
        </div>
        <hr />
    </div> 
    <div class="col-sm-12">
      <angular-slickgrid gridId="grid2" [columnDefinitions]="columnDefinitions" [gridOptions]="gridOptions" [dataset]="dataset"
      (onAngularGridCreated)="angularGridReady($event)">
      </angular-slickgrid>
  </div> 
</div>